html{
    font-family: sans-serif;
}

body{
    background-color: #292626;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calcContainer{
    display: flex;
    background-color: black;
    height: 580px;
    width: 400px;
    margin-top: 40px;
    flex-direction: column;
    border-radius: 25px;
}

.display{
    background-color:#6e6767;
    height: 90px;
    margin: 20px;
    border-radius: 10px;
}
#displaynumber{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 15px 20px 20px 20px;
    font-weight: bold;
    font-size:larger
}

.padContainer{
    display: flex;
    background-color: grey;
    height: 420px;
    margin: 0px 20px 0px 20px;
    padding: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pad{
    
    background-color:#d2cfcf;
    height: 60px;
    width: 100px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.digit{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size:larger  
}
